body{
background-color: lightblue;
font-family: sans-serif;
}
h1{
color: red;
text-align: center;
}
p{
text-align: center;
}
.container{
width: 80%;
margin: 20px auto;
}
.imagem_centralizada{
display: block;
margin-left: auto;
margin-right: auto;
}

